body {
    background-color:rgb(122 120 120);
    margin: 0;
}

.header {
    color: white;
    padding-left: 5rem;
    font-family: Righteous, cursive;
    letter-spacing: .1rem;

}

.book_grid {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 1rem;
    background-color: rgb(232 232 232);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 0px 0px 25px 5px rgb(110 209 222);
}

#new_button {
    font-size: 100px;
    background-color: rgb(122 120 120);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

#new_button:hover {
    cursor: pointer;
    background-color: rgb(110 209 222);
}

#new_button:active {
    box-shadow: inset 0px 0px 5px 5px black;
}

.card, #new_button {
    border: 5px solid white;
    border-radius: 20px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;*/
}

.card {
    background-color: rgb(110 209 222);
    padding: 1rem;
    font-family: Nunito, sans-serif;
    display: grid;
    grid-template-rows: 30% 15% 15% 20% 20%;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.read_button, .remove_button {
    width: 80%;
    height: 60%;
    border-radius: 20px;
    font-family: Nunito, sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    justify-self: center;
    align-self: center;
}

.read_button:hover, .remove_button:hover {
    cursor: pointer
}

.read {
    color: white;
    border:3px solid white;
    background-color: rgb(50 224 50);

}

.unread {
    color:grey;
    border: 3px solid grey;
}

.remove_button {
    border: 3px solid white;
    color: white;
    background-color: red;
}

#popup_form {
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 20px;
}

#add_form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    
}

legend {
    font-size: large;
}